# build intermediaries
*.o
*.lo
*.slo
*.obj

# precompiled headers
*.gch
*.pch

# compiled dynamic libs
*.so

# compiled static libs
*.a

# temporaries
*.pyc
*.cache
*.swp

# autotools generated
deps/*/config*
deps/*/configure
deps/*/cpi
deps/*/po
deps/*/stamp-h1
deps/*/libtool
deps/*/*.pc
deps/*/**/Makefile*
deps/**/*.la
.deps
.libs

# targets
test_main
