# build intermediaries
# *.o
*.lo
*.slo
*.obj

# precompiled headers
*.gch
*.pch

# compiled dynamic libs
*.so

# compiled static libs
*.a

# temporaries
*.pyc
*.cache
*.swp

# autotools generated
deps/libunicap/configure

# targets
test_main
